<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Music Player
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let song of songs" (click)="playAudio(song)">
      <ion-thumbnail slot="start">
        <img [src]="song.thumbnail" alt="Album Art">
      </ion-thumbnail>
      <ion-label>{{ song.title }}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="currentSong" class="ion-text-center">
    <h3>{{ currentSong.title }}</h3>
    <img [src]="currentSong.thumbnail" class="img-thumbnail" alt="Album Art">
    <audio controls>
      <source [src]="currentSong.audio" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    class=> {{isPlaying}} ***
    <div class="animation" [class.playing]="isPlaying"></div>
  </div>

</ion-content>
<!-- <ion-row class="section-container" style="height: 75px; margin-top: 20px;" (click)="location.back()"
  [style.background]="'#676a5d'">
  <ion-col>
    <ion-icon class="arrow" name="arrow-back-outline"></ion-icon>
    <ion-text class="font-title2">Back</ion-text>
  </ion-col>
</ion-row> -->
<cr-bottom-tab-bar
  #bottomTabs
  style="z-index: 2"
  [selectedTab]="selectedTab"
  (onTabChange)="selectedTab = $event"
></cr-bottom-tab-bar>

<!-- </ion-grid>
  </div>
</div> -->
