<div>
  <!-- <ion-text class="courses-list-title font-largeTitle" style="display: flex;">Dashboard


  </ion-text> -->

  <!-- Course VCard -->


  <div class="courses-list">
    <div
      class="course-container"
      *ngFor="let course of courses; trackBy: trackCourses"
      [style.--course-bg]="course.color"
    >
      <!-- <ion-img class="course-img" [src]="course.image"></ion-img> -->

      <ion-text class="course-title font-title2">{{course.title}}</ion-text>
      <ion-text class="course-subtitle font-subtitle">
       {{course.subtitle}}
      </ion-text>
      <div class="display-flex call-button" *ngIf="(course.id  == 'helpline')">
          <ion-icon name="call-outline" slot="start" class="icon-margin"></ion-icon>
          <ion-text>{{ course.contact }}</ion-text>
        </div>
        <div class="display-flex" *ngIf="(course.id  == 'helpline')">
        
          <ion-icon name="mail-outline" slot="start" class="icon-margin" style="font-size: 22px"></ion-icon>
          <ion-text>{{ course.email }}</ion-text>
        </div>

        <div *ngIf="(course.id  == 'caregivers')" id="chat-button" style="margin-top: 40px;">
          <ion-button expand="block"  >
            Chat with experts
          </ion-button>
        </div>

        <div *ngIf="(course.id  == 'community')" >
          <div class="ion-text-center">
            <ion-button expand="block" (click)="openFacebook()" color="facebook">
              <ion-icon name="logo-facebook"></ion-icon>
              Facebook
            </ion-button>
            
            <ion-button expand="block" (click)="openTwitter()" color="twitter">
              <ion-icon name="logo-twitter"></ion-icon>
              Twitter
            </ion-button>
          </div>
        </div>
      <div class="spacer"></div>
    </div>
  </div>

  <ion-row>
    <ion-text class="recent-title font-title3">Recent</ion-text>
    <!-- <ion-icon style="padding-top: 8px;" class="recent-title" name="search-outline">  </ion-icon> 
      <ion-input style="    width: 30%;
      padding-top: 0 !important;
      min-height: 31px !important;" type="text" placeholder="Search" (keydown)="onKeyPress($event)"></ion-input> 
   -->
      
    </ion-row>

  <!-- Recent course Section -->
  <div class="section-list">
    <ion-grid class="section-grid">
      <ion-row>
        <ion-col
          *ngFor="let section of courseSections; trackBy: trackCourses;let i=index"  (click)="openPatientDetails(section)"
          size-lg="6"
          size="12"
        >
          <ion-row class="section-container" [style.background]="color[i]">
            <ion-col>
              <ion-text class="font-title2">{{section.firstName}}</ion-text>
              <br />
              <div class="spacing"></div>
              <ion-text class="font-body">{{section.phone}}</ion-text>
            </ion-col>
            <ion-col size="auto" class="ion-align-items-center">
              <ion-img class="section-img" [src]="section.img"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
