.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-top: 20px;
}

.game-board div {
  width: 80px;
  height: 80px;
  perspective: 1000px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front {
  background: white;
  transform: rotateY(0deg);
}

.card-back {
  background: lightgray;
  transform: rotateY(180deg);
}

.flipped .card-front {
  transform: rotateY(180deg);
}

.flipped .card-back {
  transform: rotateY(360deg);
}

.wrong .card-back {
  background: red;
}
.good .card-back {
  background-color: green;
}

.game-over {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: green;
}
