<ion-header>
  <ion-toolbar>
    <ion-title>Symbol Match Game</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <div class="game-board">
    <div *ngFor="let card of cards" (click)="flipCard(card)" [ngClass]="{'flipped': card.flipped || card.matched, 'wrong': card.wrong,'good':card.matched}">
      <div class="card-front">
        <ion-icon [name]="card.symbol"></ion-icon>
      </div>
      <div class="card-back"></div>
    </div>
  </div>
  <div class="game-over" *ngIf="gameOver">
    <h2>Game Over</h2>
  </div>
</div>
